@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#__next {
  @apply h-full w-full;
}

.glass {
  @apply border-gray-400 bg-white bg-opacity-60;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.glass-box {
  @apply glass rounded-2xl p-5;
}
.btn,
.btn-sm {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3 shadow-lg;
}

.btn-sm {
  @apply px-4 py-2 shadow;
}
