@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 h-full w-full p-0 font-sans antialiased;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
#__next {
  @apply h-full w-full;
}

@layer components {
  .glass {
    @apply border-gray-400 bg-gray-400 bg-opacity-50 backdrop-blur-md;
  }
  .btn,
  .btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
  }

  .btn {
    @apply px-8 py-3 shadow-lg;
  }

  .btn-sm {
    @apply px-4 py-2 shadow;
  }
}
